/* HTML ELEMENTS */

body {
    font-family:'Montserrat', sans-serif;  
}

h2 {
    font-family: 'Montserrat';
    font-size:2rem;
    line-height: 1.5;
}
h3 {
    font-family: 'Montserrat-bold';
}
h4 {
    font-family: "montserrat";
    font-size:3rem;
    color:#fff;
    margin-bottom:10%;
}



p {
    color:#8f8f8f;
    font-family:'ubuntu';
}

.big-heading {
    font-family: 'Montserrat';
    font-size:3.5rem;
    line-height: 1.5;
    color:white;
}


.container-fluid {
    padding:3% 15%;
    
}
#title {
    background-color: #ff4c68;
    
}
.navbar {
    padding:0 0 4rem 0;
}
.navbar-brand{
    font-size:2rem;
    font-weight: bold;
    font-family:'ubuntu';
   
}
.nav-item{
    padding:0 18px;
}
.title-image {
    position: absolute;
    width:min-content;
    transform: rotate(25deg);
    height:80%;
}

.nav-link {
    font-size:1.2rem;
    font-family:'montserrat-light';
}
.download-button {
    margin:10px 4px 0px 4px;
}
/* feature site */
#features {
    padding:7% 15%;
    background-color:#FFF;
    position: relative;
   
}
.feature-box {
    padding: 5%;
    text-align: center;

}


.icon {
    color:#ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials {
    
    text-align: center;
    background-color:#ff4c68;
    color:#FFF;
    padding:7% ;
}

.dog {
    width:10%;
    border-radius: 100%;
    margin:20px;
}


#press {
    background-color:#ff4c68;
    padding-bottom: 1rem;
    text-align: center;
}
.press-logo{
    width:15%;
    margin:20px 20px 50px;
}
.testimonial-image {
    width:10%;
    border-radius: 100%;
}
.carousal-inner{
    padding:7% 15%;
}
#pricing {
    padding:100px;
    text-align: center;
}

.pricing {
    padding:3% 5%;
}
@media (max-width:1028px){
    .title-image{
        transform: rotate(0);
        position: static;
    }
    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    padding:10% 15%;
    text-align: center;
}


#footer{
    color:#fff;
    padding:5% 7%;
    text-align: center;   
}
.hero {
    margin-top:10px;
}